@model IEnumerable<Agenda.Models.Especialidad>

<h4>Especialidad</h4>

<p>
    <a asp-action="Create" class="btn-floating btn-large green darken-3"><i class="material-icons">person_add</i></a>
</p>

<table class="responsive-table highlight z-depth-3 orange lighten-5">
    <thead class="orange darken-1 white-text">
        <tr>
            <th> @Html.DisplayNameFor(model => model.Descripcion) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* Aquí colocaremos los datos a mostrar **@
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Descripcion) </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad"><i class="material-icons">edit</i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad"><i class="material-icons red-text">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

