@model Agenda.Models.Turno
@* ----- Copia del código ya corregido -----*@
@{
    ViewBag.Title = "Asignación de Turnos";
}

<div class="row">
    <div class="col s6">
        <label asp-for="IdMedico">Médico</label>
        <select asp-for="IdMedico" asp-items="ViewBag.IdMedico"></select>
    </div>
    <div class="col s6">
        <label asp-for="IdPaciente">Peciente</label>
        <select asp-for="IdPaciente" asp-items="ViewBag.IdPaciente"></select>
    </div>
</div>
<br />

<div id="ModalTurno" class="modal">
    <div class="modal-content">
        <h4>Tursno</h4>
        <form>
            <div>
                <label>Inicio</label>
                <input type="text" id="txtFechaHoraInicio" readonly="readonly" />
            </div>
            <div>
                <label>Fin</label>
                <input type="text" id="txtFechaHoraFin" readonly="readonly" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="btnEliminar" class="modal-close waves-effect waves-red btn-flat">Eliminar</a>
        <a href="#" id="btnGuardar" class="modal-close waves-effect waves-green btn-flat">Gaurdar</a>
        <a href="#" id="btncerar" class="modal-close waves-effect waves-grey btn-flat">Cerar</a>
    </div>
</div>

<div id="CalendarioTurnos"></div>

<link href="~/fullcalendar/fullcalendar.css" rel="stylesheet" />
<link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/fullcalendar/locale/es.js"></script>

    <script>
        $(document).ready(function () {
            $('.modal').modal();  //Inicializa los modales, para que funcionen show() y hide()
            var horarioDesde = "";
            var horarioHasta = "";
            var turnos = [];
            var turnoSeleccionado = [];

            ObtenerTurnosYActualizar($('#IdMedico').val());

            $('#IdMedico').change(function () {
                ObtenerTurnosYActualizar(this.value);
            });

            function ObtenerTurnosYActualizar(idMedico) {
                turnos = [];
                $.ajax({
                    type: 'GET',
                    url: 'Turno/ObtenerTurnos',
                    data: { 'IdMedico': idMedico },
                    success: function (datos) {
                        $.each(datos, function (i, v) {
                            // Poner la letra inicial en minusculas, porque JavaScript la cambia de mauyuscula a minuscula
                            turnos.push({
                                idTurno: v.idTurno,
                                idPaciente: v.idPaciente,
                                idMedico: v.idMedico,
                                start: moment(v.fechaHoraInicio),
                                end: v.fechaHoraFin != null ? moment(v.fechaHoraFin) : null
                            });
                        });
                        GenerarCalendario(turnos);
                    },
                    error: function () {
                        alert('Error al obtener turnos');
                    }
                });
            }

            function GenerarCalendario(turnos) {
                $.ajax({
                    type: "get",
                    url: "Medico/TraerHorarioAtencionDesde",
                    data: { "IdMedico": $("#IdMedico").val() },
                    async: false,
                    success: function (resultado) {
                        horarioDesde = resultado;
                    },
                    error: function () {
                        alert("Error al traer los datos de TraerHorarioAtencionDesde");
                    }
                });

                $.ajax({
                    type: "get",
                    url: "Medico/TraerHorarioAtencionHasta",
                    data: { "IdMedico": $("#IdMedico").val() },
                    async: false,
                    success: function (resultado) {
                        horarioHasta = resultado;
                    },
                    error: function () {
                        alert("Error al traer los datos de TraerHorarioAtencionHasta");
                    }
                });

                $('#CalendarioTurnos').fullCalendar('destroy'); // se "reinicializa"

                $('#CalendarioTurnos').fullCalendar({
                    contentHeight: 'auto',
                    defaultDate: new Date(), // es la fecha que va sobre el calendario
                    slotLabelFormat: 'HH:mm',
                    defaultView: 'agendaWeek', // 'agendaDay'
                    header: {
                        left: 'prev,next today',
                        right: 'month,agendaWeek,agendaDay',
                        center: 'title', // despliega el titulo con la fecha al centro sobre el calendario
                    },
                    slotDuration: '00:30',
                    nowIndicator: true,
                    allDaySlot: false,
                    selectable: true,
                    eventLimit: true, // por ejemplo tiempo máximo por evento 30 min

                    // Video "14. Funciones AJAX horarios de atención PARTE 1"
                    minTime: horarioDesde, // ejem '09:00',
                    maxTime: horarioHasta, // ejem'20:00',
                    //minTime: '09:00',
                    //xTime: '20:00',
                    //hiddenDays: [0, 6], // esconde el 0=Domingo y 6=Sabado
                    events: turnos,
                    select: function (a, b) {
                        alert(a.format('DD/MM/YYYY HH:mm') + ' - ' + b.format('DD/MM/YYYY HH:mm'));
                    },
                    /*dayClick: function (fechaHoraInicio, fechaHoraFin) {  // se activa cuando se da click sobre una cenlda que NO tenga evento creado
                        turnoSeleccionado = {
                            idTurno: 0,  // IdTirno es Identiry, sio idTurno es 0 es alta
                            start: fechaHoraInicio,
                            end: fechaHoraFin
                        };
                        AbrirPopup();
                    },*/
                    /*eventClick: function(a, b){
                        alert('Dentro de eventCliock()');
                        alert(a.start);
                        alert(a.end);
                    }*/
                })
            }
            function AbrirPopup() {
                $('#txtFechaHoraInicio').val(turnoSeleccionado.start.format('DD/MM/YYYY HH:mm'));
                //$('#txtFechaHoraFin').val(turnoSeleccionado.end.format('DD/MM/YYYY HH:mm'));
                if (turnoSeleccionado.idTurno === 0) {
                    $('btnGuardar').show();
                    $('btnEliminar').hide();
                } else {
                    $('btnGuardar').hide();
                    $('btnEliminar').show();
                }
                $('#ModalTurno').modal('open');
            }

        });
    </script>
}
